<div class="row">
  <div class="col s12 m12 l3">
    <br>
    <div class="collection" style=" margin-top:27px;">
        <a href="#!" class="collection-item center-align grey black-text btn disabled">KEY FEATURES</a>
        <a href="#!" class="collection-item active">Cover Video</a>
        <a href="/admin/add-cover" class="collection-item">Add Cover</a>
        <a href="/admin/edit-cover" class="collection-item">Edit/Delete </a>
        <a href="#!" class="collection-item active">Most Popular Videos</a>
        <a href="/admin/add-popular-video" class="collection-item">Add Video</a>
        <a href="/admin/edit-popular-video" class="collection-item">Edit/Delete</a>
        <a href="#!" class="collection-item active">Dance Category</a>
        <a href="/admin/add-dance" class="collection-item">Add Dance</a>
        <a href="/admin/edit-dance" class="collection-item">Edit/Delete</a>
        <a href="#!" class="collection-item active">Social Category</a>
        <a href="/admin/add-social" class="collection-item">Add Social Images</a>
        <a href="/admin/edit-social" class="collection-item">Edit/Delete</a>
        <a href="#!" class="collection-item active">Picture Category</a>
        <a href="/admin/add-picture" class="collection-item">Add General Pictures</a>
        <a href="/admin/edit-picture" class="collection-item">Edit/Delete</a>
        <a href="#!" class="collection-item active">View Contacts</a>
        <a href="/admin/edit-contacts" class="collection-item">Edit/Delete</a>
      </div>
  </div>
  <div class="col s12 m12 l9">
    <br><br>
    <h3 class="pink center-align white-text" style="padding-left:20px;">Add Cover Video </h3>
    {{#if hasErrors}}
            <div>
                {{# each messages }}
                    <p class="red center-align white-text" style="margin-left:25%; padding:5px; width:50%;">{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
     <form action="/admin/add-cover" enctype="multipart/form-data" method="post" class="col s12 m12 l8 offset-l2">
      <div class="row">
        <div class="input-field col s12">
          <input id="covervideotitle" type="text" name="covervideotitle" class="validate">
          <label for="cover_video_title">Video Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="covervideourl" type="text" name="covervideourl" class="validate">
          <label for="covervideourl">Video URL</label>
        </div>
      </div>
      
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file"  name="covervideoupload"  multiple>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" name="covervideoupload" placeholder="Upload one or more files">
      </div>
    </div>

      <div class="center-align">
          <button type="submit" class="waves-effect waves-light btn-large pink">Submit
                <i class="material-icons right">send</i>
          </button>
      </div>


     </form>

       </div>

</div>