<div class="row">
	<div class="col s10 m10 l8 offset-s1 offset-m1 offset-l2">
     <br><br>
     <h3 class="center-align purple darken-1 white-text" style="padding:10px;">Feel Freely, Just Contact Us Now!!</h3>
     <br>
		 <form action="/contact" method="post" class="col s12 l8 offset-l2">
      <div class="row">
        <div class="input-field col s12">
          <input id="contactname" type="text" name="contactname" class="validate">
          <label for="contactname">Full Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="contactmobile" type="text" name="contactmobile" class="validate">
          <label for="contactmobile">Mobile Number</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 ">
          <input id="contactemail" type="text" name="contactemail" class="validate">
          <label for="contactemail">Email Id</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="contactlocation" type="text" name="contactlocation" class="validate">
          <label for="contactlocation">Location (Place)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="contactpurpose" type="text" name="contactpurpose" class="validate">
          <label for="contactpurpose">Purpose (Subject)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="contactmessage" type="text" name="contactmessage" class="validate">
          <label for="contactmessage">Feedback or Any Message</label>
        </div>
      </div>
      <br>
      <div class="center-align">
          <button type="submit" class="waves-effect waves-light btn-large purple darken-1">Submit
                <i class="material-icons right">send</i>
          </button>
      </div>

     </form>
	</div>
</div>